<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	{% block head %}
	<title>base</title>
	{% endblock %}
</head>
<body>
	{% block nonav %}
	<div style="padding-left: 8%; padding-right: 8%; height: 10%">
		<div style="position: absolute; padding: 20px 0; z-index: 2">
			<a href="{{ HTTP_HOST }}/home/">
				<img src="{% static "registration/cropped-logo-final.png" %}" alt="AvSoc" class="logo" height=100px>
			</a>
		</div>
		<div style="padding: 50px 0; margin-left: 120px">
			{% block navbar %}
			{% endblock %}
		</div>
	</div>
	{% endblock %}
	{% block body %}
	{% endblock %}
</body>
</html>
