html {
  background-color: #111511;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #111511;
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%;
}

/* navbar stuff */

li {
  display: inline;
}

.navbar-buttons {
    float: left;
    border-right: 1px solid #bbb;
}
.navbar-buttons:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
    right: 0;
}

.navbar-options {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-options:hover {
    background-color: #222;
    color: white;
}

.navigation-bar {
    border: 2px solid #111511;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #444944;
    overflow: hidden;
    z-index: 1;
  }

/* member page home content */

.linkbutton {
    display: block;
    margin: auto;
    background-color: #222;
    width: 10%;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.linkbutton:hover {
    opacity: 0.8;
}

.loginimage {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 0;
}

.infobox {
    border: 3px solid #111511;
    position: relative;
    width: 80%;
    padding: 8px 16px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 50px auto;
    color: #fff;
    background-color: #333733;
    opacity: 0.9;
}

.footer {
  color: #eee;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 1rem;
  /* clear:both; */
  z-index: 20;
  /* height: 3em; */
/*  bottom: 0; */
  margin-left: 1em;
  /* margin-bottom: 0px; */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
