{% extends 'base_home.html' %}

{% block head %}
{% load staticfiles %}
<meta name="google-site-verification" content="MqHzCx5IKRl8LQ7HZm8plcG8Nfr9ReqUrbQY51Nlb78" />
<title>Aviation Society</title>
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
<script type="text/javascript" src="{% static 'home/home.js' %}"></script>
{% endblock %}
{% block body %}
<img src="{% static "home/tow.jpg" %}" alt="Background pic" class = "loginimage">
<div class = "mainbody">
	<div class = "slideshow-container" onmousemove="cancelautoslide()">
		<div class="mySlides fade">
		<img src="{% static "home/flying1.jpg" %}" style="width:100%">
		</div>

		<div class="mySlides fade">
		<img src="{% static "home/standing1.jpg" %}" style="width:100%">
		</div>

		<div class="mySlides fade">
		<img src="{% static "home/standing2.jpg" %}" style="width:100%">
		</div>

		<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		<!-- Dot Chooser -->
		<div class = "dot-background">
			<div class = "slideshow-dots">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
		</div>
	</div>
	<span class="anchor" id="our-story"></span>
	<div class = "text-image-bit">
		<div class="text-section left">
			<br>
			<a class = "title-anchor-text" name="our-story">Our Story</a>
			<p>{{ textsections.our_story.text|linebreaks }}</p>
		</div>
		<img src="{% static "home/long4.jpeg" %}" class = "image-section right">
	</div>
	<span class="anchor" id="events"></span>
	<div class = "text-image-bit">
		<img src="{% static "home/piper1.jpg" %}" class = "image-section left">
		<div class="text-section right">
			<br>
			<a class = "title-anchor-text" name="events">Events</a>
			<p>{{ textsections.events.text|linebreaks }}</p>
			<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="443ZMJUYEG5D8">
				<table style="margin: auto;">
					<tr>
						<td class="event"><input type="hidden" name="on0" value="Membership Status">Membership Status:</td>
						<td>
							<select name="os0">
								<option value="Member">Members £49.00</option>
								<option value="Non-member">Non-members £59.00</option>
							</select>
						</td>
					</tr>
				</table>
				<br>
				<input type="hidden" name="currency_code" value="GBP">
				<input type="submit" value="✈ Book Your Space!" name="submit" alt="PayPal Buy Link" class = "buy-button">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
			</form>			
			<p style="font-size:9px">Please note this event is weather dependent.</p> -->
		</div>
	</div>
	<span class="anchor" id="prices"></span>
	<div class = "text-image-bit">
		<div class="text-section left">
			<br>
			<a class = "title-anchor-text" name="prices">Prices</a>
			<p>{{ textsections.trial_sessions.text|linebreaks }}</p>
			<br>
			<table style="width:100%">
				<tr>
					<th>Annual Membership</th>
					<th>Winch Launch</th>
					<th>Aerotow per 1000ft</th>
					<th>Flying fee (per minute)</th>
					<th>Transport to airfield</th>
				</tr>
				<tr>
					<td>£20</td>
					<td>£10</td>
					<td>£10</td>
					<td>£0.50</td>
					<td>~£2 (depends on number of attendees)</td>
				</tr>
			</table>
			<br>
			<p>A typical 30 minute flight would cost only £27! <br> (£10 for the winch launch, £15 for 30 minutes in the air and £2 for transport there and back)</p>
			<p>Drivers will receive £10 off their fees</p>
		</div>
		<img src="{% static "home/long3.jpg" %}" class = "image-section right">
	</div>
	<span class="anchor" id="join-us"></span>
	<div class = "text-image-bit">
		<img src="{% static "home/long5.jpg" %}" class = "image-section left">
		<div class="text-section right">
			<br>
			<a class = "title-anchor-text" name="join-us" id="join-us">Join Us!</a>
			<p>{{ textsections.join_us.text|linebreaks }}</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="BNES38HS3Q3BG">
				<input type="submit" value="✈ Get Membership" name="submit" alt="PayPal Buy Link" class = "buy-button">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
</div>
{% endblock %}
