{% extends 'base.html' %}

{% block head %}
{% load static %}
<title>Password Reset</title>
<link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}"> 
{% endblock %}
{% block nonav %}
{% endblock %}
{% block body %}
<img src="{% static "registration/standing5.jpeg" %}" alt="Background pic" class = "loginimage">
<div class="loginform">
	<h3>Forgot password</h3>
  	<form method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<button type="submit">Submit</button>
  	</form>
</div>
{% endblock %}