{% extends 'base_accounts.html' %}

{% block head %}
{% load static %}
<title>Password Reset Complete</title>
<link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}"> 
{% endblock %}
{% block nonav %}
{% endblock %}
{% block body %}
<img src="{% static "registration/standing5.jpeg" %}" alt="Background pic" class = "loginimage">
<div class="loginform">
  <p>
    Your password has been set.
  </p>
  <a href="{{ HTTP_HOST }}/accounts/login/" class = "linkbutton">login</a>
</div>
{% endblock %}