{% extends 'base_accounts.html' %}

{% block head %}
{% load static %}
<title>Gliding Sign Up</title>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/memberpage.css' %}">
{% endblock %}
{% block body %}
<img src="{% static "accounts/gliders1.jpg" %}" alt="Background pic" class = "loginimage">
<div class="infobox">
	<h1>Sign Ups:</h1>
	<br>
	<p> Your Sessions: </p>
	{% for session in sessions %}
		<h2>{{ session.2 }}</h2>
		<p>Meeting Location: Outiside the Union</p>
		<p>Time: 07:30 AM</p>
		{% for driver in session.0 %}
			<p>Driver: {{ driver.member.user.first_name|default:driver.member.user.username }}</p>
		{% endfor %}
		<p>Attendees:
		{% for signup in session.1 %}
			{{ signup.member.user.first_name|default:signup.member.user.username }},
		{% endfor %}
		</p>
		<form action="{% url 'signup_delete' session.3 %}" method="get">
			{% csrf_token %}
			<input type="hidden" name="signup_id" value="{{ session.3 }}">
			<input type="submit" value="Cancel Signup">
		</form>
	{% endfor %}
	<br>
	<p> Upcoming Sessions: </p>
	<div class = "signupform">
		<form action="/account/signuppage" method="post">
			{% csrf_token %}
			{{ form }}
			<br>
			<input id="signup" type="submit" value="Sign Up">
		</form>
	</div>
	<br>
	<p> Past Sessions:</p>
	{% for session in past_sessions %}
		<h2>{{ session.date }}</h2>
	{% endfor %}
</div>
{% endblock %}
<!-- 	 -->
