{% extends 'base_accounts.html' %}

{% block head %}
{% load static %}
<title>Member Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/memberpage.css' %}"> 
{% endblock %}
{% block body %}
<img src="{% static "accounts/gliders1.jpg" %}" alt="Background pic" class = "loginimage">
<div class="infobox">
	{% if user.is_authenticated %}
		<h1>Hi {{ user.username }}!</h1>
		<h1>Welcome to the Member's Area!</h1>
	{% else %}
		<p>You are not logged in</p>
		<a href="{{ HTTP_HOST }}/accounts/login/" class = "linkbutton">login</a>
	{% endif %}
</div>
{% endblock %}
