{% extends 'base_accounts.html' %}

{% block head %}
{% load static %}
<title>User Details</title>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/memberpage.css' %}">
{% endblock %}
{% block body %}
<img src="{% static "accounts/glider5.jpg" %}" alt="Background pic" class = "loginimage">
<div class="infobox">
	<h1>Hi {{ user.first_name }}!</h1>
	<h1>Here is your profile:</h1>
	<br>
	<p>Your username is: {{ user.username }}</p>
	<p>Your email is: {{ user.email }}</p>
	<p>Your SGU account number is: {{ user.profile.account_no }}</p>
	<p>You have had {{ flights }} flights</p>
	<p>You have flown for {{ minutes }} minutes</p>
</div>
{% endblock %}
