<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	{% block head %}
	<title>base</title>
	{% endblock %}
</head>
<body>
	{% block nonav %}
	<div style="padding-left: 8%; padding-right: 8%; height: 10%">
		<div style="position: absolute; padding: 20px 0; z-index: 2">
			<a href="{{ HTTP_HOST }}/home/">
				<img src="{% static "registration/cropped-logo-final.png" %}" alt="AvSoc" class="logo" height=100px>
			</a>
		</div>
		<div style="padding: 50px 0; margin-left: 120px">
			{% if user.is_authenticated %}
			<ul class = "navigation-bar">
		        <li class = "navbar-buttons"><a class = "navbar-options" href="details">Account Details</a></li>
		        <li class = "navbar-buttons"><a class = "navbar-options" href="signuppage">Gliding Sessions</a></li>
				<!-- <li class = "navbar-buttons"><a class = "navbar-options" href="info">Info</a></li> -->
				<li class = "navbar-buttons"><a class = "navbar-options" href="settings">Settings</a></li>
				{% if user.is_staff %}
				<li class = "navbar-buttons"><a class = "navbar-options" href="newsession" style="color: #FF3333">Create a new session</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="choosesession" style="color: #FF3333">Fill in session details</a></li>
				{% endif %}
				{% if user.is_superuser %}
				<li class = "navbar-buttons"><a class = "navbar-options" href="updatehome" style="color: #FFCC11">Update homepage text</a></li>
				{% endif %}
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options" href="{{ HTTP_HOST }}/accounts/logout/">Logout</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
	{% endblock %}
	{% block body %}
	{% endblock %}
	{% block footer %}
	<div class = "footer">
		<!-- <p style="margin-left: 8%"> Website designed & created by Marley Chinn with some CSS help from Oscar Raunio © 2019</p> -->
		<p style="margin-left: 100px; z-index: 3; font-size: 0.8em">Found a bug? <a href="{{ HTTP_HOST }}/reportabug/" style="color: #ddf">Report it here</a></p>
	</div>
	{% endblock %}
</body>
</html>
