 /* Bordered form */
body, html {background-color: #111511}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

#id_email {
  width: 100%;
  margin: auto;
  height: 2.2rem;
}

.loginimage {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 0;
}

.loginform {
    border: 3px solid #111511;
    width: 100%;
    max-width: 500px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 10rem;
    color: #fff;
    background-color: #333733;
    position: relative;
    opacity: 0.85;
}

.loginform:hover {
    opacity: 1;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.logo {
    width: 40%;
    border-radius: 50%;
}

/* Extra style for the forgot password button */
.forgotbtn {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: auto;
    float: right;
}

.forgotbtn:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
    position: relative;
}

.linkbutton {
    display: block;
    margin: auto;
    background-color: #222;
    width: 10%;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.newuserformfield {
    margin: 1rem 2rem;
}

footer {
  color: #eee;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
