<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
	{% block head %}
	<title>base</title>
	{% endblock %}
</head>
<body>
	<div style="padding-left: 8%; padding-right: 8%; height: 10%">
		<div style="position: absolute; padding: 20px 0; z-index: 2">
			<a href="{{ HTTP_HOST }}/home/">
				<img src="{% static "registration/cropped-logo-final.png" %}" onload="cycleSlides();" alt="AvSoc" class="logo" height=100px>
			</a>
		</div>
		<div style="padding: 50px 0; margin-left: 120px">
			<ul class = "navigation-bar">
				<li class = "navbar-buttons"><a class = "navbar-options" href="{{ HTTP_HOST }}/home#our-story">Our Story</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="{{ HTTP_HOST }}/home#events">Events</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="{{ HTTP_HOST }}/home#prices">Prices</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="{{ HTTP_HOST }}/home#join-us">Join Us</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="{{ HTTP_HOST }}/home/trials">Trial Sessions</a></li>
				{% if user.is_superuser %}
				<li class = "navbar-buttons"><a class = "navbar-options" href="{{ HTTP_HOST }}/gallery" style="color: #FFCC11">Gallery</a></li>
				{% endif %}
				{% if user.is_authenticated %}
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options" href="{{ HTTP_HOST }}/account/home">Member's Area</a></li>
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options">Hello{% if not user.first_name %} Member!{% else %} {{ user.first_name }}! {% endif %}</a></li>
				{% else %}
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options" href="{{ HTTP_HOST }}/accounts/login">Login</a></li>
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options" href="{{ HTTP_HOST }}/account/newuser">Create Account</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% block body %}
	{% endblock %}
	<footer style="z-index: 10">
		<p style="margin-left: 100px; font-size: 0.8em"> Website designed & created by Marley Chinn © 2019</p>
<!-- 		<p style="margin-left: 100px">Found a bug? <a href="{{ HTTP_HOST }}/reportabug/">Report it here</a></p> -->
	</footer>
</body>
</html>
