<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
	{% block head %}
	<title>base</title>
	{% endblock %}
</head>
<body>
	<div style="padding-left: 8%; padding-right: 8%; height: 10%">
		<div style="position: absolute; padding: 20px 0; z-index: 2">
			<a href="{{ HTTP_HOST }}/home/">
				<img src="{% static "registration/cropped-logo-final.png" %}" alt="AvSoc" class="logo" height=100px>
			</a>
		</div>
		<div style="padding: 50px 0; margin-left: 120px">
			<ul class = "navigation-bar">
				<li class = "navbar-buttons"><a class = "navbar-options" href="#our-story">Our Story</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="#events">Events</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="#trials">Trials</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="#join-us">Join Us</a></li>
				<li class = "navbar-buttons"><a class = "navbar-options" href="gallery">Gallery</a></li>
				{% if user.is_authenticated %}
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options" href="{{ HTTP_HOST }}/account/home">Member's Area</a></li>
				{% else %}
				<li class = "navbar-buttons" style="float:right"><a class = "navbar-options" href="{{ HTTP_HOST }}/accounts/login">Member's Area</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% block body %}
	{% endblock %}
	<footer>
		<p style="margin-left: 8%"> Website designed & created by Marley Chinn and Carl Oscar Raunio © 2018. Full picture credits on gallery page. </p>
		<p style="margin-left: 8%; z-index: 3">Found a bug? <a href="{{ HTTP_HOST }}/reportabug/">Report it here</a></p>
	</footer>
</body>
</html>
